@{
    ViewData["Title"] = "Reporte Semanal";

}


<partial name="_submenu" Model="SubMenuTransacciones.Calendario"/>

<div id="calendario"></div>

@section Scripts{

    <script src="~/lib/fullcalendar/main.min.js"> </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){

            const calendarioEl = document.getElementById('calendario');
            const calendario = new FullCalendar.Calendar(calendarioEl, {

               
                initialView: 'dayGridMonth'
            });
            calendario.render();
        })
    </script>

}

